/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#urlbar #safeflag-addressbarpanel {

  background: url("chrome://browser/skin/urlbar/textfield-mid.png") repeat-x scroll left center transparent;
  padding: 1px 4px 1px 4px;
}

#urlbar[focused="true"] #safeflag-addressbarpanel {
  background: url("chrome://browser/skin/urlbar/textfield-mid-focused.png");
}